body {
  -webkit-app-region: drag;
  width: 100%;
  height: 100vh;
  color: #3a3a3a;
  font-family: Consolas, Menlo, Courier, monospace;
  font-size: 14px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.react-root {
  height: 100%;
}

.main {
  position: relative;
  height: 100%;
  cursor: move;
}

.color-name {
  position: absolute;
  top: 10px;
  left: 60px;
  font-weight: bold;
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.color-name:hover {
  top: 9px;
  font-size: 14.5px;
}

.color-hex-code {
  position: absolute;
  bottom: 10px;
  left: 60px;
  font-size: 13px;
  line-height: 1;
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.color-hex-code:hover {
  bottom: 9px;
  font-size: 13.5px;
}

.color-box {
  position: absolute;
  top: 10px;
  left :10px;
  width: 40px;
  height: 40px;
  border: 1px solid #555459;
  border-radius: 3px;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #b4bed5;
  cursor: move;
}

input[type="text"] {
  padding: 0;
  border: none;
  display: inline-block;
  width: auto;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: none;
}
